body, html {
    background-color: #030303;
    color: #fafafa;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    width: 100%;
    height: 100%;
}
a {
    color: #fafafa;
}

a:hover {
    font-weight: bold;
}

#crt-filter{
    opacity:0.3;
    position: fixed;
    width: 100%;
    height:100%;
    z-index: 9999;
    background-image: url('./res/crt.apng');
    background-size: 2px 1px;
    background-color: white;
    background-blend-mode:exclusion;
    mix-blend-mode:multiply;
    pointer-events: none;
    filter: saturate(1.5);
}

.settings-range{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 1.5em;
    background: transparent;
    overflow: hidden;
}
#settings{
    text-align: right;
    float: right;
}
#settings-text{
    padding-bottom:7px;
    cursor: pointer;
    user-select: none;
}
#settings-text:hover{
    font-weight:bold;
    text-decoration: underline;
}
.settings-slider {
    display:flex;
    flex-direction: column;    
}
.flex-space-between {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.dropdown-content {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border: 1px solid #fafafa;
}
.settings-range{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline:none;
    height: 1.5em;
    background: #030303;
    overflow: hidden;
}
.settings-range::-moz-range-track{
    height: 0.25em;
    background: #fafafa;
}
.settings-range::-moz-range-thumb{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height:1.5em;
    width:0.25em;
    outline: none;
    border: none;

    background: #fafafa;
    border-radius:0px;
}

#debug-toggle-readout {
    user-select: none;
}
#debug-toggle-readout:hover {
    font-weight:bold;
    text-decoration: underline;
}

#nav-bar {
    position:sticky;
    border-bottom: 1px solid #fafafa;
    padding: 7px 1ch;
}
#nav-bar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar > ul > li {
    display: inline;
}


#frametime-info {
    position: fixed;
}

#frametime-info > * {
    font-weight: bolder;
}

#target-fps {
    text-decoration: underline;
}

#title-text {
    margin: 0;
    position: fixed;
    color: #fafafa;
    top: 15%;
    font-size: 6em;
    line-height: 0.95em;
    letter-spacing: -0.1em;
    left: 50%;
    transform: translate(-50%, 0%);
}

#game-area {
    width: 50ch;
    padding: 1ch;
    font-size:1.5em;
    line-height:0.85em;
    white-space: break-spaces;
    word-break:break-all;
    border: 1px #fafafa solid;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.red-glow{
    color: #fff;
    -webkit-animation: red-glow 1s ease-in-out infinite alternate;
    -moz-animation: red-glow 1s ease-in-out infinite alternate;
    animation: red-glow 1s ease-in-out infinite alternate;
    filter:saturate(5);
    font-weight:bold;
}
@keyframes red-glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ac0000, 0 0 40px #ac0000, 0 0 50px #ac0000, 0 0 60px #ac0000, 0 0 70px #ac0000;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #e41b1b, 0 0 50px #e41b1b, 0 0 60px #e41b1b, 0 0 70px #e41b1b, 0 0 80px #e41b1b;
    }
}

.blue-glow{
    color: #fff;
    -webkit-animation: blue-glow 1s ease-in-out infinite alternate;
    -moz-animation: blue-glow 1s ease-in-out infinite alternate;
    animation: blue-glow 1s ease-in-out infinite alternate;
    filter:saturate(5);
    font-weight:bold;
}
@keyframes blue-glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #002eac, 0 0 40px #002eac, 0 0 50px #002eac, 0 0 60px #002eac, 0 0 70px #002eac;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #1b61e4, 0 0 50px #1b61e4, 0 0 60px #1b61e4, 0 0 70px #1b61e4, 0 0 80px #1b61e4;
    }
}