body, html {
    background-color: #0a0a0a;
    color: #fafafa;
    margin: 0;
}

#game-area {
    width: 50ch;
    padding: 1ch;
    font-size:1.5em;
    font-family:'Courier New', Courier, monospace;
    line-height:0.85em;
    white-space: break-spaces;
    word-break:break-all;
    border: 1px #fafafa solid;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.red-glow{
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    filter:saturate(5);
    font-weight:bold;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ac0000, 0 0 40px #ac0000, 0 0 50px #ac0000, 0 0 60px #ac0000, 0 0 70px #ac0000;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #e41b1b, 0 0 50px #e41b1b, 0 0 60px #e41b1b, 0 0 70px #e41b1b, 0 0 80px #e41b1b;
    }
  }